.side-menu {
  height: calc(100vh - 60px);
  border-right: solid 1px #eee;
}

@media screen and (max-width: 720px) {
  .side-menu {
    max-height: calc(20vh);
    overflow: auto;
  }
}

button,
button:hover {
  outline: none !important;
}
