<div
  style="margin-top: 55px"
  *ngIf="{
    currentUser: currentUser$ | async,
    keys: keys$ | async,
    configurations: configurations$ | async
  } as params"
>
  <mat-progress-bar
    *ngIf="!params?.currentUser || !params?.keys || !params?.configurations"
  ></mat-progress-bar>
  <div
    class="container-fluid"
    *ngIf="params?.currentUser && params?.keys && params?.configurations"
  >
    <div class="row">
      <div
        [ngClass]="{
          'col-2': showMenuItems
        }"
        class="side-menu"
        *ngIf="showMenuItems"
      >
        <div class="row">
          <div class="col-12">
            <div>
              <p>
                {{ params?.currentUser?.name }}
                <!-- <em>({{ params?.currentUser?.userCredential?.username }})</em> -->
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-side-menu-list
              [keys]="params?.keys"
              [configurations]="params?.configurations"
              [currentNameSpace]="currentNameSpace"
              (selectedMenu)="onGetSelectedMenu($event)"
            ></app-side-menu-list>
          </div>
        </div>
      </div>
      <div
        [ngClass]="{
          'col-10': showMenuItems,
          'col-12': !showMenuItems
        }"
      >
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-left">
              <button
                [title]="showMenuItems ? 'Hide side menu' : 'Show side menu'"
                (click)="toggleMenuItems($event)"
                mat-icon-button
                color="primary"
                style="margin-top: -10px; margin-left: -10px"
              >
                <mat-icon>menu</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-12" *ngIf="nameSpaceReady">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
